<!--prettier-ignore-->
#errorCatcher Echo
#encoding UTF-8

<!DOCTYPE html>
<html lang="$lang">
  <head>
    #include "includes/html-head.inc"
    <title>rromanchuk | Wx Station | About</title>
    <script
      type="module"
      src="https://1.www.s81c.com/common/carbon/web-components/version/v1.21.0/notification.min.js"
    ></script>
    <script
      type="module"
      src="https://1.www.s81c.com/common/carbon/web-components/version/v1.21.0/code-snippet.min.js"
    ></script>
    <script
      type="module"
      src="https://1.www.s81c.com/common/carbon-for-ibm-dotcom/version/v1.19.0/image-with-caption.min.js"
    ></script>
    <script
      type="module"
      src="https://1.www.s81c.com/common/carbon/web-components/version/v1.21.0/tabs.min.js"
    ></script>
  </head>

  <body>
    #include "includes/ui-shell.inc"

    <!--@see https://github.com/carbon-design-system/carbon/blob/v10/packages/type/scss/modules/_styles.scss#L628-->
    <main class="user-page">
      <section class="main bx--content">
        <div class="bx--grid bx--grid--full-width">
          <div class="bx--row">
            <header class="bx--col page-header">
              <h1>$gettext("About")</h1>
              <h2>weewx-wdc Skin for WeeWX</h2>
            </header>
          </div>

          <div class="bx--row">
            <div class="bx--col">
              <bx-inline-notification
                kind="info"
                hide-close-button
                title="For more info please visit"
                low-contrast
              >
                <a
                  slot="subtitle"
                  target="_blank"
                  href="https://github.com/Daveiano/weewx-wdc"
                  >https://github.com/Daveiano/weewx-wdc</a
                >
              </bx-inline-notification>


              <div class="bx--row">
                <div class="bx--col-sm-4 bx--col-md-4 bx--col-lg-6">
                  <dds-image-with-caption
                    default-src="https://romanch.uk/static/mars.jpg"
                    heading="Let's put chickens on Mars."
                    lightbox="false"
                  >
                    <dds-image-item
                      media="(min-wiidth:320px)"
                      href="https://romanch.uk/static/mars.jpg"
                    >
                    </dds-image-item>
                  </dds-image-with-caption>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    #include "includes/footer.inc"

    <script src="$get_base_path(path='dist/main.js')" defer></script>
  </body>
</html>
